body{
    background-image: url("/Users/kennyverse/Digitalcraft/Digital craft React Project/react-quiz/anime-quiz/public/images/team-minato-and-kakashi-wsac3k91uzt7fp3t.webp");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

}

.scroller-item img{

    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
/* horizontal scroll */
.scroller {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
  }
  
  /* horizontal scroll */
  .scroller-item {
    flex-shrink: 0;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #character-info {
    margin-top: 20px;
  }
  






body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333333;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 10px;
}

.options {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
